{% extends 'common/base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-7">
                <div class="form-card">

                    <h2 class="text-center mb-4">Skill Details</h2>
                    <div class="mb-3">
                        <label class="form-label fw-bold">Skill</label>
                        <ul class="list-group">
                            <li class="list-group-item fw-semibold ">
                                {{ skill.title }}
                            </li>
                        </ul>
                    </div>


                    <div class="mb-3">
                        <label class="form-label fw-bold">Categories</label>
                        <ul class="list-group">
                            {% for category in skill.categories.all %}
                                <li class="list-group-item fw-semibold">
                                    {{ category.title }}
                                </li>
                            {% empty %}
                                <li class="list-group-item text-muted">
                                    No categories assigned.
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="mb-4">
                        <label class="form-label fw-bold">Habits</label>

                        <ul class="list-group fw-semibold">
                            {% for habit in skill.habits.all %}
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                <span>
                                    {{ habit.name }} ({{ habit.frequency }} times/week)
                                </span>

                                    <div>
                                        <a href="{% url 'habit-edit' habit.pk %}"
                                           class="btn btn-sm btn-outline-warning">
                                            Edit
                                        </a>
                                        <a href="{% url 'habit-delete' habit.pk %}"
                                           class="btn btn-sm btn-outline-danger">
                                            Delete
                                        </a>
                                    </div>
                                </li>
                            {% empty %}
                                <li class="list-group-item text-muted">
                                    No habits added yet.
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="text-center mt-4">
                        <a href="{% url 'skill-edit' skill.pk %}" class="btn btn-outline-warning me-2">
                            Edit Skill
                        </a>

                        <a href="{% url 'skill-delete' skill.pk %}" class="btn btn-outline-danger me-2">
                            Delete Skill
                        </a>

                        <a href="{% url 'habit-create' %}" class="btn btn-outline-success">
                            Add Habit
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
